@import "";

/* Header */
.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}

/* Social Media */
.sharebuttons {
  margin: 0 auto 0 auto;
}

.sharebuttons ul {
  margin: 20px 0 0 0;
  text-align: center;
}

.sharebuttons ul li {
  display: inline;
}

.sharebuttons ul li a {
  text-decoration: none;
}

.sharebuttons ul li svg {
  width: 30px;
  height: 30px;
}

.sharebuttons .github svg {
  fill: #525252;
}

.sharebuttons .twitter svg {
  fill: #525252;
}

.sharebuttons .linkedin svg {
  fill: #525252;
}